---
layout: default
---

<div class="container wide">
  <div class="navigator-container">
    <div class="navigator">
      <a href="/" class="sans-serif">{{site.title}}</a>
    </div>
    <div class="navigator l-2">
      <div class="sans-serif">{{page.title}}</div>
    </div>
    <div class="navigator bottom wide"><a href="#" class="sans-serif">INSTAGRAM</a>
      <div class="sans-serif">/</div><a href="#" class="sans-serif">CONTACT ME</a>
      <div class="sans-serif">/</div><a href="#" class="sans-serif">DONATE</a>
    </div>
  </div>
  <div class="content film-content">
    {% for film in site.film %}
    <a href="{{film.url}}" class="film-item w-inline-block">
      <div class="film-img">
        <img src="{{ film.image }}" sizes="100vw" alt=""></div>
      <div class="film-info">
        <div class="serif-text small-title">{{ film.title }}</div>
        <div class="sans-serif right">{{ film.volume }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>