<div class="nav-container">
  <div class="nav {% if page.section == 'story' %}story{% endif %} {% if page.section == 'volume' or page.section == 'story' %}half{% endif %}">
    <a href="/" class="nav-link logo"><img class="nav-logo" alt="Samantha Zine" src="/assets/w-images/LOGO-V1-01.svg"></a>

  </div>

  {% if page.section == 'volume' or page.section == 'story' or page.section == 'film' or page.section == 'shop' %}
  <div class="nav l-2">

    <div style="display: flex;">
      {% for vol in site.volume %}
      <a href="{{vol.url}}" class="nav-link {% if page.url == vol.url or page.volume == vol.title %}active{% endif %}">{{vol.title}}</a>
      {% endfor %}
      <a class="nav-link {% if page.url == '/shop' %}active{% endif %}" href="/shop">SHOP</a>
    </div>

    <div class="navlinkcontainer">
      {% for vol in site.volume %}
        {% if page.url == vol.url or page.volume == vol.title %}
          <button onclick="showTab(event)" id="Info" class="nav-link">Info</button>
          <button onclick="showTab(event)" id="Films" class="nav-link">Films</button>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if page.section == 'story' or page.section == 'film' %}
    <div class="nav l-3">

  <a href="{% for vol in site.volume %}{% if page.volume == vol.title %}{{vol.url}}{% endif %}{% endfor %}">← BACK</a>

      <a href="{{page.url}}" class="nav-link">{{page.title}}</a>

      <div class="scrolltextcontainer">
        <div class="scrolltext">
        {{page.text}}
        </div>
      </div>
    </div>

    <style>
    .scrolltextcontainer {
    width: 100%;overflow: hidden;}
    .scrolltext {
    -moz-animation: marquee 30s linear infinite;
    -webkit-animation: marquee 30s linear infinite;
    animation: marquee 30s linear infinite;
  }

  .scrolltextcontainer:hover .scrolltext {
    animation-play-state: paused;
  }
  @-moz-keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee {
    0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%)
    }
    100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
    </style>
 
  {% endif %}

  <div class="nav bottom {% if page.section == 'story' %}story{% endif %} {% if page.section == 'volume' %}half{% endif %}">
    <a href="{{site.data.settings.instagram}}" class="nav-link">INSTAGRAM</a>
    <a href="mailto: {{site.data.settings.email}}" class="nav-link">CONTACT ME</a>
  </div>
</div>