* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: white;
  background: #00000000;
}

.swiper-container {
  width: 50%;
  height: 100vh;
}

.snipcart-cart--opened {
  overflow: auto;
}

.snipcart-modal__container {
  position: relative;
  width: 100%;
  right: 0;
  left: auto;
  background-color: transparent;
  transition: none !important;
  animation: none !important;
}

.snipcart-cart-header {
  display: none;
}

.snipcart-item-line {
  background-color: transparent;
  box-shadow: none;
}

.snipcart-cart__content {
  background-color: transparent;
  height: 100%;
}

.snipcart-layout__content {
  padding: 0;
  margin: 0;
  width: 100%;
}

.snipcart-cart-header {
  padding: 5px 7px;
  margin: 0;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.snipcart-modal {
  color: black;
  background-color: transparent;
}

.snipcart-cart-button {
  display: block;
  margin-top: -1px;
  margin-bottom: -1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #000;
  font-size: 8vw !important;
  line-height: 6vw !important;
  text-align: left;
  letter-spacing: -0.6vw !important;
  font-family: Times New Roman !important;
  margin: 0;
  padding: 0;
  background-image: none;
  text-transform: capitalize !important;
}

.snipcart-cart-button__icon {
  display: none;
}

.snipcart-featured-payment-methods {
  background-color: black;
  border: 0 !important;
  padding: 2px 7px;
  margin: 0;
}

.snipcart-featured-payment-methods__title {
  background: transparent;
  top: 0;
  color: red;
  position: relative;
  font-size: 17px !important;
}

.snipcart__font--secondary {
  font-family: arial;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
}
