---
layout: default
---

<div class="container">
  <div class="navigator-container">
    <div class="navigator"><a href="#" class="back-button w-inline-block"></a><a href="index.html" class="sans-serif">SAMANTHA ZINE</a></div>
    <div class="navigator l-2">
      <div class="sans-serif">SHOP</div>
    </div>
  </div>
  <div class="content">
    <div class="item-collection">
      <div class="item">
        <div class="item-lightbox"></div>
        <div class="shop-item"><a href="shop-snipcart-item.html" class="item-link shop-link w-clearfix">Item Name <span class="item-span">$10</span> <span class="item-span preorder">PREORDER</span><br></a></div>
      </div>
      <div class="item">
        <div class="item-lightbox _2"></div>
        <div class="shop-item"><a href="shop-snipcart-item.html" class="item-link shop-link w-clearfix">Item Name <span class="item-span">$10</span> <span class="item-span preorder">PREORDER</span><br></a></div>
      </div>
    </div>
    <div class="navigator bottom"><a href="https://www.instagram.com/samantha_zine" target="_blank" class="sans-serif">INSTAGRAM</a>
      <div class="sans-serif">/</div><a href="mailto:TALKTOME@SAMANTHAZINE.COM?subject=Talk%20To%20Me%2C%20Samantha" class="sans-serif">CONTACT ME</a>
      <div class="sans-serif">/</div><a href="#" class="sans-serif">DONATE</a>
    </div>
  </div>
</div>