---
layout: default
---

<div class="container">
  <div class="navigator-container">
    {% include navigator.html %}
  
  </div>
  <div class="content">
    <div class="item-collection">
      {% for item in site.volume %}

      {% endfor %}
      {% for item in site.shop %}
      <div>
        

        <div>
        {{item.text}}<br>
        {{item.info}}
         <a class="story-link" style="width: 100%; display: block;" href="https://trolley.link/p/{{item.product_id}}" data-trolley="true" data-tpk="{{item.product_id}}">Buy</a>

        </div>
        <div>
        <img src="{{item.image}}">
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
