---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

{% include head.html %}

{% if site.indev == true %}
 {% include index.html %}
{% else %}
 <body class="body {{page.title|slugify}}">

 {% if page.section != 404 %}
   {% include age-gate.html %}
   <div onclick="hideIntro()" class="intro-logo"></div>
   {% include navigator.html %}
  {% endif %}

   {{ content }}

   {% if page.section != 404 %}
    {% include footer.html %}
   {% endif %}
   
 </body>
{% endif %}




</html>
