---
layout: default
---

<div class="container">
  <div class="navigator-container">
    {% include navigator.html %}
    <div class="navigator bottom"><a href="https://www.instagram.com/samantha_zine" target="_blank" class="sans-serif">INSTAGRAM</a>
      <div class="sans-serif">/</div><a href="mailto:TALKTOME@SAMANTHAZINE.COM?subject=Talk%20To%20Me%2C%20Samantha" class="sans-serif">CONTACT ME</a>
      <div class="sans-serif">/</div><a href="#" class="sans-serif">DONATE</a>
    </div>
  </div>
  <div class="content">
    <div class="item-collection">
      {% for volume in site.volume %}
      <div class="item">
        <div class="item-lightbox">
          {% include booktemplate.html %}
        </div>
        <a href="{{ volume.url }}" class="item-link">{{ volume.title }}</a>
      </div>
      {% endfor %}

      {% for nav in site.pages %}
      {% if nav.url != "/" and nav.url != "/404.html" %}
      <div class="item">
        <div class="item-lightbox">
          <img src="{{nav.image}}" alt="">
        </div>
        <a href="{{ nav.url }}" class="item-link">{{ nav.title }}</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
