---
layout: default
---

<div class="container wide">
  <div class="navigator-container">
    <div class="navigator"><a href="index.html" class="back-button w-inline-block"></a><a href="index.html" class="sans-serif">{{site.title}}</a></div>
    <div class="navigator l-2">
      <div class="sans-serif">{{ page.title }}</div>
    </div>
    <div class="navigator bottom wide">
      <a href="{{page.instagram}}" class="sans-serif">INSTAGRAM</a>
      <div class="sans-serif">/</div><a href="#" class="sans-serif">CONTACT ME</a>
      <div class="sans-serif">/</div><a href="#" class="sans-serif">DONATE</a>
    </div>
  </div>
  <div class="content">
    <div class="serif-text para">{{ page.text }}​</div>
  </div>
</div>