---
layout: default
---
<div class="main story">

  <div class="content story">
    {{page.text | markdownify}}
    {% if page.category == "Art" %}
    <br><br>
      <p class="parapgraph">&quot; {{page.quote}} &quot;</p>
    {% endif %}
  </div>
  
<br><br>


  {% if page.credits %}
  <div class="content story credits">
    {{page.credits | markdownify}}
  </div>
  
  {% endif %}

  <br><br>
  <div class="image-content story"></div>

  <div class="images-content">
    <div class="parapgraph">Images</div>
    <div class="image-collection">
      {% for image in page.images %}
      <div class="item image">
        <div class="item-lightbox story-image"> <img src="{{ image }}" alt="{{ image }}"></div>
        <div class="sub-link">image{{ forloop.index }}</div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if page.film %}
  {% assign film = site.film | where: 'title', page.film %}
  {{film}}
    <div class="parapgraph">Film</div>
    <br>
    <a  class="sub-link nohover" href="">{{page.film}}</a>
  {% endif %}

  <br>  <br>  <br>  <br>  <br>  <br>

</div>