---
layout: default
---

<div class="container">
  <div class="navigator-container">
    <div class="navigator"><a href="index.html" class="back-button w-inline-block"></a><a href="/" class="sans-serif">{{site.title}}</a></div>
    <div class="navigator l-2">
      <div class="sans-serif">{{page.title}}</div>
    </div>
  </div>
  <div class="content">
    <div class="item-collection">
      {% assign volume = page.title %}

      {% for story in site.story %}
      {% if story.volume == volume %}
      <div class="item">
        <div class="item-lightbox">
          <img src="{{ story.images[0] }}" alt="">
        </div>
        <a href="{{ story.url }}" class="item-link">{{ story.title }}</a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>