---
layout: default
---
<div class="main l-2">

  <!-- INRO -->
  <div id="Info" class="anchor"></div>
  <div class="tabpane">
    <p class="parapgraph">{{page.text}}</p>
    <p class="parapgraph productinfo">28x25cm / 150pages / $17</p>
    <a href="story.html" class="buy-button snipcart-add-item"  data-item-price="30" data-item-name="{{page.title}} -  Samanthazine" data-item-id="{{page.title}}-zine" data-item-url="{{page.url}}" data-item-max-quantity="1"
    data-item-shippable="true"  data-item-custom1-name=""
    data-item-custom1-options="Book + PDF|PDF only[-10.00]"
    data-item-custom1-value="Book + PDF">Buy the book</a>
  </div>

  <!-- STORY -->
  <div id="Stories" class="anchor"></div>
  <div>Artist</div>
  <div>Editorial</div>
  </div>
  <div class="tabpane">
    {% assign volumeTitle = page.title %}

    {% for story in site.story %}
        {% if story.volume == volumeTitle %}
            <div class="item">
                <div class="item-lightbox">
                    <img src="{{ story.images[0] }}" alt="">
                </div>
                <a href="{{ story.url }}" class="story-link">{{ story.title }}</a>
            </div>
        {% endif %}
    {% endfor %}
  </div>

  <!-- Films -->
  <div id="Films" class="anchor"></div>
  <div class="tabpane">
    {% for film in site.film %}
    <!-- <a href="{{film.url}}" class="film-item w-inline-block">
      <div class="film-img">
        <img src="{{ film.image }}" sizes="100vw" alt=""></div>
      <div class="film-info">
        <div class="serif-text small-title">{{ film.title }}</div>
        <div class="sans-serif right">{{ film.volume }}</div>
      </div>
    </a> -->
    {% if film.volume == volumeTitle %}
    <div class="item">
      <div class="item-lightbox">
        <img src="{{ film.image }}" sizes="100vw" alt="">
      </div>
      <a href="{{film.url}}" class="story-link">{{film.title}}</a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="image-content">
    {% for volume in site.volume %}
      {% if volume.title == volumeTitle %}
      {% include booktemplate.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>