---
layout: default
---
<div class="main l-2">

  <!-- INRO -->
  <div class="tabpane" id="Info" style="display: block">
    <p class="parapgraph">{{page.text}}</p>
<p class="parapgraph productinfo smaller">{{page.height}}x{{page.width}}cm / {{page.pagecount}}pages {% if page.price %}/ ${{page.price}}{% endif %}</p>

    {% if page.price %}
    <a href="story.html" class="buy-button snipcart-add-item"  data-item-price="{{page.price}}" data-item-name="{{page.title}} -  Samanthazine" data-item-id="{{page.title}}-zine" data-item-url="{{page.url}}" data-item-max-quantity="1"
    data-item-shippable="true"  data-item-custom1-name="test" data-item-custom1-options="Book + PDF|PDF only[{{page.pdf-price}}]" data-item-custom1-value="Book + PDF">Buy the book</a>
    {% endif %}
  </div>

  <!-- STORY -->

  {% assign volumeTitle = page.title %}
  {% if volumeTitle == "Vol. II" %}
  {% assign voltwo = true %}
  {% endif %}
  {% assign volStories = site.story | where:'volume', volumeTitle %}
  {% assign storiesArt = volStories | where:'category','Art' %}
  {% assign storiesEditorial = volStories | where: 'category' ,'Fashion' %}

  <div class="tabpane" id="Stories">
    {% if voltwo %}
    <div class="storytagbar">Artist</div>
    {% endif %}
    {% for story in storiesArt %} 
            <div class="item">
                <div class="item-lightbox">
                    <img src="{{ story.images[0] }}" alt="">
                </div>
                <a href="{{ story.url }}" class="story-link">{{ story.title }}</a>
            </div>
    {% endfor %}
    {% if voltwo %}
    <div class="storytagbar">Fashion</div>
    {% endif %}
    {% for story in storiesEditorial %} 
            <div class="item">
                <div class="item-lightbox">
                    <img src="{{ story.images[0] }}" alt="">
                </div>
                <a href="{{ story.url }}" class="story-link">{{ story.title }}</a>
            </div>
    {% endfor %}


  </div>

  <!-- Films -->  
  <div class="tabpane" id="Films">
    {% if voltwo %}
    <div class="storytagbar">Films</div>
    {% endif %}
    {% for film in site.film %}
    <!-- <a href="{{film.url}}" class="film-item w-inline-block">
      <div class="film-img">
        <img src="{{ film.image }}" sizes="100vw" alt=""></div>
      <div class="film-info">
        <div class="serif-text small-title">{{ film.title }}</div>
        <div class="sans-serif right">{{ film.volume }}</div>
      </div>
    </a> -->
    {% if film.volume == volumeTitle %}
    <div class="item">
      <div class="item-lightbox">
        <img src="{{ film.image }}" sizes="100vw" alt="">
      </div>
      <a href="{{film.url}}" class="story-link">{{film.title}}</a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <div class="image-content">
    {% for volume in site.volume %}
      {% if volume.title == volumeTitle %}
      {% include booktemplate.html %}
      {% endif %}
    {% endfor %}
  </div>
</div>